schema/src/modules/attributes.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    
    <!-- ATTRIBUTES -->
    <define name="attribute.addressLineType.optional">
        <optional>
            <attribute name="addressLineType">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>

    <define name="attribute.addressTypeLineEncoding">
        <attribute name="addressTypeLineEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherAddressTypeLineEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.agentType.optional">
        <attribute name="agentType">
            <data type="NMTOKEN"/>
        </attribute>
    </define>

    <define name="attribute.agentTypeEncoding">
        <attribute name="agentTypeEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherAgentTypeEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.audience.optional">
        <optional>
            <attribute name="audience">
                <data type="NMTOKEN"/>
            </attribute>  
        </optional>
    </define>

    <define name="attribute.audienceEncoding">
        <attribute name="audienceEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherAudienceEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.base.optional">
        <optional>
            <attribute name="base">
                <data type="anyURI"/>
            </attribute>
        </optional>
    </define>
    
    <define name="attribute.contactLineType.optional">
        <optional>
            <attribute name="contactLineType">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>

    <define name="attribute.contactTypeEncoding">
        <attribute name="contactTypeLineEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherContactTypeLineEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.coordinateSystem">
        <attribute name="coordinateSystem">
            <data type="token"/>
        </attribute>    
    </define>
    
    <define name="attribute.countryCode.optional">
        <optional>
            <attribute name="countryCode">
                <data type="NMTOKEN"/>    
            </attribute>
        </optional>
    </define>
    
    <define name="attribute.countryCode" a:exclude-from="eac ead">
        <optional>
            <attribute name="countryCode">
                <data type="NMTOKEN"/>    
            </attribute>
        </optional>
    </define>

    <define name="attribute.countryEncoding">
        <attribute name="countryEncoding" a:defaultValue="iso3166-1">
            <choice>
                <value>iso3166-1</value>
                <value>otherCountryEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.coverage.optional" a:exclude-from="eac">
        <optional>
            <attribute name="coverage">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>

    <define name="attribute.coverageEncoding" a:exclude-from="eac">
        <attribute name="coverageEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherCoverageEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.daoTypeEncoding" a:exclude-from="eac eag">
        <attribute name="daoTypeEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherDaoTypeEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.detailLevel.optional">
        <optional>
            <attribute name="detailLevel">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>

    <define name="attribute.detailLevelEncoding">
        <attribute name="detailLevelEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherDetailLevelEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.dscTypeEncoding" a:exclude-from="eac eag">
        <attribute name="dscTypeEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherDscTypeEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.dateEncoding">
        <attribute name="dateEncoding" a:defaultValue="iso8601">
            <choice>
                <value>iso8601</value>
                <value>otherDateEncoding</value>
            </choice>
        </attribute>
    </define>
  
    <define name="attribute.id.optional">
        <optional>
            <attribute name="id">
                <data type="ID"/>
            </attribute>
        </optional>
    </define>
    
    <define name="attribute.identityType.optional" a:exclude-from="ead">
        <optional>
            <attribute name="identityType">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>

    <define name="attribute.identityTypeEncoding">
        <attribute name="identityTypeEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherIdentityTypeEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.languageCode">
        <attribute name="languageCode">
            <data type="NMTOKEN"/>
        </attribute>
    </define>

    <define name="attribute.languageEncoding">
        <attribute name="languageEncoding" a:defaultValue="iso639-2">
            <choice>
                <value>iso639-1</value>
                <value>iso639-2</value>
                <value>iso639-3</value>
                <value>ietf-bcp-47</value>
                <value>otherLanguageEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.levelEncoding" a:exclude-from="eac eag" >
        <attribute name="levelEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherLevelEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.localType">
        <attribute name="localType">
            <data type="token"/>
        </attribute>
    </define>
    
    <define name="attribute.localTypeDeclarationReference">
        <attribute name="localTypeDeclarationReference">
            <data type="IDREFS"/>
        </attribute>
    </define>
    
    <define name="attribute.maintenanceStatus.optional">
        <attribute name="maintenanceStatus">
            <data type="NMTOKEN"/>
        </attribute>  
    </define>

    <define name="attribute.maintenanceStatusEncoding">
        <attribute name="maintenanceStatusEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherMaintenanceStatusEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.maintenanceEventType.optional">
        <attribute name="maintenanceEventType">
            <data type="NMTOKEN"/>
        </attribute>
    </define>

    <define name="attribute.maintenanceEventTypeEncoding">
        <attribute name="maintenanceEventTypeEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherMaintenanceEventTypeEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.physDescStructuredTypeEncoding" a:exclude-from="eac eag">
        <attribute name="physDescStructuredTypeEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherPhysDescStructuredTypeEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.publicationStatus.optional">
        <optional>
            <attribute name="publicationStatus">
                <data type="NMTOKEN"/>   
            </attribute>
        </optional>
    </define>

    <define name="attribute.publicationStatusEncoding">
        <attribute name="publicationStatusEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherPublicationStatusEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.preferredForm.optional">
        <optional>
            <attribute name="preferredForm">
                <data type="boolean"/>
            </attribute>
        </optional>  
    </define>
    
    <define name="attribute.question" a:exclude-from="eac ead">
        <optional>
            <attribute name="question">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>

    <define name="attribute.questionEncoding">
        <attribute name="questionEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherQuestionEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.repositoryCode" a:exclude-from="eac ead">
        <optional>
            <attribute name="repositoryCode">
                <data type="NMTOKEN"/>    
            </attribute>
        </optional>
    </define>

    <define name="attribute.repositoryEncoding">
        <attribute name="repositoryEncoding" a:defaultValue="iso15511">
            <choice>
                <value>iso15511</value>
                <value>otherRepositoryEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.scriptCode">
        <attribute name="scriptCode">
            <data type="NMTOKEN"/>
        </attribute>
    </define>

    <define name="attribute.scriptEncoding">
        <attribute name="scriptEncoding" a:defaultValue="iso15924">
            <choice>
                <value>iso15924</value>
                <value>otherScriptEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.standardDateTime.optional">
        <optional>
            <attribute name="standardDateTime">
                <ref name="dt.any-standard-dateTime"/>
            </attribute>
        </optional>
    </define>
    
    <define name="attribute.status.optional">
        <optional>
            <attribute name="status">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>

    <define name="attribute.statusEncoding">
        <attribute name="statusEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherStatusEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.style.optional">
        <optional>
            <attribute name="style">
                <data type="normalizedString"/>
            </attribute>
        </optional>
    </define>
    
    <define name="attribute.target.optional">
        <optional>
            <attribute name="target">
                <data type="IDREFS"/>
            </attribute>
        </optional>
    </define>
    
    <define name="attribute.targetType.optional">
        <attribute name="targetType">
            <data type="NMTOKEN"/>
        </attribute>
    </define>

    <define name="attribute.targetTypeEncoding">
        <attribute name="targetTypeEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherTargetTypeEncoding</value>
            </choice>
        </attribute>
    </define>
    
    <define name="attribute.unit.optional">
        <optional>
            <attribute name="unit">
                <data type="token"/>
            </attribute>
        </optional>
    </define>
            
    <define name="attribute.unit">
        <optional>
            <attribute name="unit">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>   

    <define name="attribute.unitEncoding" a:exclude-from="eac ead">
        <attribute name="unitEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherUnitEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.unitDateTypeEncoding" a:exclude-from="eac eag">
        <attribute name="unitDateTypeEncoding" a:defaultValue="EASList">
            <choice>
                <value>EASList</value>
                <value>otherUnitDateTypeEncoding</value>
            </choice>
        </attribute>
    </define>

    <define name="attribute.value" a:exclude-from="eac ead">
        <attribute name="value">
            <choice>
                <value>businessArchives</value>
                <value>communityArchives</value>
                <value>internationalArchives</value>
                <value>localArchives</value>
                <value>nationalArchives</value>
                <value>nonUniversityEducationArchives</value>
                <value>personalAndFamilyArchives</value>
                <value>regionalArchives</value>
                <value>religiousInstitutionsArchives</value>
                <value>specialisedGovernmentArchives</value>
                <value>specialisedNongovernmentalArchives</value>
                <value>universityArchives</value>
            </choice>
        </attribute>
    </define>
    
    <define a:exclude-from="eag" name="attribute.xpointer.optional">
        <optional>
            <attribute name="xpointer">
                <data type="normalizedString"/>
            </attribute>
        </optional>
    </define>
    
    
    <!-- ATTRIBUTE GROUPS -->
    <define name="attribute-group.any.zeroOrMore">
        <zeroOrMore>
            <attribute>
                <anyName>
                    <except>
                        <nsName/>
                        <nsName ns=""/>
                    </except>
                </anyName>
            </attribute>
        </zeroOrMore>
    </define>
    
    <define name="attribute-group.control-encodings.optional">
        <optional>
            <ref name="attribute.addressTypeLineEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.agentTypeEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.audienceEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.contactTypeEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.countryEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.coverageEncoding" a:exclude-from="eac"/>
        </optional>
        <optional>
            <ref name="attribute.daoTypeEncoding" a:exclude-from="eac eag"/>
        </optional>
        <optional>
            <ref name="attribute.detailLevelEncoding"/>
        </optional>
        <optional a:exclude-from="eac eag">
            <ref name="attribute.dscTypeEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.dateEncoding"/>
        </optional>
        <optional a:exclude-from="ead">
            <ref name="attribute.identityTypeEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.languageEncoding"/>
        </optional>
        <optional>        
            <ref name="attribute.levelEncoding" a:exclude-from="eac eag"/>
        </optional>
        <optional>
            <ref name="attribute.maintenanceEventTypeEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.maintenanceStatusEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.physDescStructuredTypeEncoding" a:exclude-from="eac eag"/>
        </optional>
        <optional>
            <ref name="attribute.publicationStatusEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.questionEncoding" a:exclude-from="eac ead"/>
        </optional>
        <optional>
            <ref name="attribute.repositoryEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.scriptEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.statusEncoding"/>
        </optional>
        <optional>
            <ref name="attribute.targetTypeEncoding"/>
        </optional>
        <optional a:exclude-from="eac">
            <ref name="attribute.unitEncoding"/>
        </optional>
        <optional a:exclude-from="eac eag">
            <ref name="attribute.unitDateTypeEncoding"/>
        </optional>
    </define>

    <define name="attribute-group.assertion-reference.optional" combine="interleave">
        <optional>
            <attribute name="maintenanceEventReference">
                <data type="IDREFS"/>
            </attribute>
        </optional>
    </define>
    <define name="attribute-group.assertion-reference.optional" combine="interleave">
        <optional>
            <attribute name="sourceReference">
                <data type="IDREFS"/>
            </attribute>  
        </optional>
    </define>
    <define name="attribute-group.assertion-reference.optional" combine="interleave">
        <optional>
            <attribute name="conventionDeclarationReference">
                <data type="IDREFS"/>
            </attribute>  
        </optional>
    </define>
    
    <define name="attribute-group.eag-document-node">
        <ref name="attribute.audience.optional"/>
        <ref name="attribute.base.optional"/>
        <ref name="attribute.id.optional"/>
        <ref name="attribute-group.lang-and-script.optional"/>
        <ref name="attribute-group.any.zeroOrMore"/>
    </define>
    
    <define name="attribute-group.global.optional" combine="interleave">
        <ref name="attribute.audience.optional"/>
    </define>
    <define name="attribute-group.global.optional" combine="interleave">
        <ref name="attribute.id.optional"/>
    </define>
    <define name="attribute-group.global.optional" combine="interleave">
        <ref name="attribute.target.optional"/>
    </define>
    <define name="attribute-group.global.optional" combine="interleave">
        <ref name="attribute-group.any.zeroOrMore"/>
    </define>  
    
    <define name="attribute-group.global-plus-base.optional">
        <ref name="attribute-group.global.optional"/>
        <ref name="attribute.base.optional"/>
    </define>
    
    <define name="attribute-group.global-plus-base-lang-and-script.optional">
        <ref name="attribute-group.global-plus-base.optional"/>
        <ref name="attribute-group.lang-and-script.optional"/>
    </define>
    
    <define name="attribute-group.global-plus-lang-and-script.optional">
        <ref name="attribute-group.global.optional"/>
        <ref name="attribute-group.lang-and-script.optional"/>
    </define>
    
    <define name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional">
        <ref name="attribute-group.global-plus-lang-and-script.optional"/>
        <ref name="attribute-group.localType.optional"/>
    </define>
    
    <define name="attribute-group.lang-and-script.optional" combine="interleave">
        <optional>
            <attribute name="languageOfElement">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>
    <define name="attribute-group.lang-and-script.optional" combine="interleave">
        <optional>
            <attribute name="scriptOfElement">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>
 
    <define name="attribute-group.lang-and-script-and-assertion-reference.optional" combine="interleave">
        <ref name="attribute-group.lang-and-script.optional"/>
        <ref name="attribute-group.assertion-reference.optional"/>
    </define>
    
    <define name="attribute-group.localType.optional">
        <optional>
            <ref name="attribute.localType"/>
        </optional>
        <optional>
            <ref name="attribute.localTypeDeclarationReference"/>
        </optional>  
    </define>
      
    <define name="attribute.languageCode">
        <attribute name="languageCode">
            <data type="NMTOKEN"/>
        </attribute>
    </define>
    
    <define name="attribute.scriptCode.optional">
        <optional>
            <attribute name="scriptCode">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>
    
    <define name="attribute-group.language-and-script-code" combine="interleave" a:exclude-from="eag">
        <ref name="attribute.languageCode"/>
    </define>  
    <define name="attribute-group.language-and-script-code" combine="interleave" a:exclude-from="eag">
        <optional>
            <ref name="attribute.scriptCode.optional"/>
        </optional>
    </define>        
            
    <define name="attribute-group.linked-data.optional">
        <interleave>
            <optional>
                <attribute name="valueURI">
                    <data type="anyURI"/>
                </attribute>  
            </optional>
            <optional>
                <attribute name="vocabularySource">
                    <data type="token"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="vocabularySourceURI">
                    <data type="anyURI"/>
                </attribute>
            </optional>
        </interleave>
    </define>
    
    <define name="attribute-group.links.optional">
        <interleave>
            <optional>
                <attribute name="href">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="linkRole">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="linkTitle">
                    <data type="token"/>
                </attribute>
            </optional>
        </interleave>
    </define>
    
    <define name="attribute-group.relation-children.optional">
        <ref name="attribute-group.global-plus-lang-and-script.optional"/>
        <ref name="attribute-group.linked-data.optional"/>
        <ref name="attribute-group.assertion-reference.optional"/>
    </define>
    
    <define name="attribute-group.services-contact" a:exclude-from="eac ead">
        <ref name="attribute.question"/>
        <ref name="attribute-group.global-plus-lang-and-script.optional"/>
        <ref name="attribute-group.assertion-reference.optional"/>
    </define>
   
    <define name="attribute-group.services-no-localType" a:exclude-from="eac ead">
        <ref name="attribute.question"/>
        <ref name="attribute-group.global-plus-lang-and-script.optional"/>
        <ref name="attribute-group.assertion-reference.optional"/>
        <ref name="attribute-group.links.optional"/>
    </define>
   
    <define name="attribute-group.standard-date-attributes.optional" combine="interleave">
        <optional>
            <attribute name="calendar">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>
    <define name="attribute-group.standard-date-attributes.optional" combine="interleave">
        <optional>
            <attribute name="certainty">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>
    <define name="attribute-group.standard-date-attributes.optional" combine="interleave">
        <optional>
            <attribute name="era">
                <data type="NMTOKEN"/>
            </attribute>
        </optional>
    </define>
    <define name="attribute-group.standard-date-attributes.optional" combine="interleave">
        <optional>
            <attribute name="notAfter">
                <data type="token"/>
            </attribute>
        </optional>
    </define>
    <define name="attribute-group.standard-date-attributes.optional" combine="interleave">
        <optional>
            <attribute name="notBefore">
                <data type="token"/>
            </attribute>
        </optional>
    </define>
    <define name="attribute-group.standard-date-attributes.optional" combine="interleave">
        <optional>
            <attribute name="standardDate">
                <data type="token"/>
            </attribute>
        </optional>
    </define>
    
</grammar>
