eag3.0_draft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Draft EAG 3.0 Schema
    Version: 0.1.10
    Date: 20220309
    Editor: Archives Portal Europe Foundation, Working Group on Standards
-->

<xs:schema xmlns="http://www.archivesportaleurope.net/Portal/profiles/eag3.0/"
    targetNamespace="http://www.archivesportaleurope.net/Portal/profiles/eag3.0/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2007/08/xml.xsd"/>
    <!-- Updated namespace information to reflect the new version; URL still needs to be created/activated though -->

    <xs:element name="eag">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="control" type="control"/>
                <xs:choice>
                    <xs:element name="repository" type="repository"/>
                    <xs:element name="repositories" type="repositories"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="audience">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="external"/>
                        <xs:enumeration value="internal"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="base" type="xs:anyURI"/>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
            <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="repository">
        <xs:sequence>
            <xs:element name="identity" type="identity"/>
            <xs:element name="description" type="description"/>
            <xs:element name="relations" type="relations" minOccurs="0"/>
            <xs:element name="image" type="image" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="repositories">
        <xs:sequence>
            <xs:element name="repository" type="repository"/>
            <xs:element name="repository" type="repository" maxOccurs="unbounded"/>
            <xs:element name="relations" type="relations" minOccurs="0"/>
            <xs:element name="image" type="image" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
    </xs:complexType>
    
    <xs:attributeGroup name="common.empty">
        <xs:attribute name="audience">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="external"/>
                    <xs:enumeration value="internal"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:attribute name="target" type="xs:IDREFS"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="common">
        <xs:attributeGroup ref="common.empty"/>
        <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
        <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="link">
        <xs:attribute name="href" type="xs:anyURI"/>
        <xs:attribute name="linkRole" type="xs:anyURI"/>
        <xs:attribute name="linkTitle" type="xs:token"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="vocabulary">
        <xs:attribute name="valueURI" type="xs:anyURI"/>
        <xs:attribute name="vocabularySource" type="xs:token"/>
        <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="references">
        <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
        <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
        <xs:attribute name="sourceReference" type="xs:IDREFS"/>
    </xs:attributeGroup>

    <!-- ###############
       CONTROL
   ################ -->

    <xs:complexType name="control">
        <xs:sequence>
            <xs:element name="recordId" type="recordId"/>
            <xs:element name="maintenanceAgency" type="maintenanceAgency"/>
            <xs:element name="maintenanceHistory" type="maintenanceHistory"/>
            <xs:element name="sources" type="sources" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="conventionDeclaration" type="conventionDeclaration"/>
                <xs:element name="languageDeclaration" type="languageDeclaration"/>
                <xs:element name="localControl" type="localControl"/>
                <xs:element name="localTypeDeclaration" type="localTypeDeclaration"/>
                <xs:element name="otherRecordId" type="otherRecordId" />
                <xs:element name="representation" type="representation"/>
                <xs:element name="rightsDeclaration" type="rightsDeclaration"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="countryEncoding">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="iso3166-1"/>
                    <xs:enumeration value="otherCountryEncoding"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="dateEncoding">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="iso8601"/>
                    <xs:enumeration value="otherDateEncoding"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="languageEncoding">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="iso639-1"/>
                    <xs:enumeration value="iso639-2b"/>
                    <xs:enumeration value="iso639-3"/>
                    <xs:enumeration value="ietf-bcp-47"/>
                    <xs:enumeration value="otherLanguageEncoding"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="repositoryEncoding">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="iso15511"/>
                    <xs:enumeration value="otherRepositoryEncoding"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="scriptEncoding">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="iso15924"/>
                    <xs:enumeration value="otherScriptEncoding"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="detailLevel">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="minimal"/>
                    <xs:enumeration value="basic"/>
                    <xs:enumeration value="extended"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="maintenanceStatus" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="revised"/>
                    <xs:enumeration value="deleted"/>
                    <xs:enumeration value="new"/>
                    <xs:enumeration value="deletedSplit"/>
                    <xs:enumeration value="deletedMerged"/>
                    <xs:enumeration value="deletedReplaced"/>
                    <xs:enumeration value="cancelled"/>
                    <xs:enumeration value="derived"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="publicationStatus">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="approved"/>
                    <xs:enumeration value="published"/>
                    <xs:enumeration value="inProcess"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="recordId">
        <xs:simpleContent>
            <xs:restriction base="xs:anyType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(.|\n|\r)*\S(.|\n|\r)*"/>
                    </xs:restriction>
                </xs:simpleType>
                <xs:attributeGroup ref="common"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="maintenanceAgency">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element type="agencyCode" name="agencyCode"/>
                    <xs:element type="agencyName" name="agencyName" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element type="otherAgencyCode" name="otherAgencyCode" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element type="agencyName" name="agencyName" maxOccurs="unbounded"/>
                    <xs:element type="otherAgencyCode" name="otherAgencyCode" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="countryCode" type="xs:NMTOKEN"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="agencyCode" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="vocabulary"/>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="authorized"/>
                    <xs:enumeration value="alternative"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="agencyName" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="otherAgencyCode" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="vocabulary"/>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="authorized"/>
                    <xs:enumeration value="alternative"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="descriptiveNote">
        <xs:sequence>
            <xs:element name="p" type="p" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="p" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="reference" type="reference"/>
            <xs:element name="span" type="span"/>
        </xs:choice>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="reference" mixed="true">
        <xs:sequence>
            <xs:element name="span" type="span" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="span" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:token"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="style" type="xs:normalizedString"/>
    </xs:complexType>
    
    <xs:complexType name="maintenanceHistory">
        <xs:sequence>
            <xs:element name="maintenanceEvent" type="maintenanceEvent" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
    </xs:complexType>
    
    <xs:complexType name="maintenanceEvent">
        <xs:sequence>
            <xs:element name="agent" type="agent"/>
            <xs:element name="eventDateTime" type="eventDateTime"/>
            <xs:element name="eventDescription" type="eventDescription" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="maintenanceEventType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="cancelled"/>
                    <xs:enumeration value="created"/>
                    <xs:enumeration value="deleted"/>
                    <xs:enumeration value="derived"/>
                    <xs:enumeration value="revised"/>
                    <xs:enumeration value="unknown"/>
                    <xs:enumeration value="updated"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="agent" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="vocabulary"/>
        <xs:attribute name="agentType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="human"/>
                    <xs:enumeration value="machine"/>
                    <xs:enumeration value="unknown"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="eventDateTime" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="standardDateTime">
            <xs:simpleType>
                <xs:union memberTypes="xs:gYear xs:gYearMonth xs:date xs:dateTime"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="eventDescription" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="reference" name="reference"/>
            <xs:element type="span" name="span"/>
        </xs:choice>
        <xs:attributeGroup ref="common"/>
    </xs:complexType>
    
    <xs:complexType name="sources">
        <xs:sequence>
            <xs:element name="source" type="source" maxOccurs="unbounded"/>
            <xs:element type="descriptiveNote" name="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
    </xs:complexType>
    
    <xs:complexType name="source">
        <xs:sequence>
            <xs:element name="reference" type="reference" maxOccurs="unbounded"/>
            <xs:element name="citedRange" type="citedRange" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
            <xs:element name="objectXMLWrap" type="objectXMLWrap" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="citedRange" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="unit" type="xs:token"/>
    </xs:complexType>
    
    <xs:complexType name="objectXMLWrap">
        <xs:group ref="e.anyName"/>
        <xs:attributeGroup ref="common.empty"/>
    </xs:complexType>
    
    <xs:group name="e.anyName">
        <xs:sequence>
            <xs:any processContents="skip"/>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="conventionDeclaration">
        <xs:sequence>
            <xs:element name="reference" type="reference"/>
            <xs:element name="shortCode" type="shortCode" minOccurs="0"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="shortCode" mixed="true">
        <xs:attributeGroup ref="common"/>
    </xs:complexType>
    
    <xs:complexType name="languageDeclaration">
        <xs:sequence>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="languageCode" type="xs:NMTOKEN" use="required"/>
        <xs:attribute name="scriptCode" type="xs:NMTOKEN"/>
    </xs:complexType>
    
    <xs:complexType name="localTypeDeclaration">
        <xs:sequence>
            <xs:element name="reference" type="reference"/>
            <xs:element name="shortCode" type="shortCode" minOccurs="0"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="localControl">
        <xs:sequence>
            <xs:element name="term" type="term" maxOccurs="unbounded"/>
            <xs:choice minOccurs="0">
                <xs:element name="date" type="date"/>
                <xs:element name="dateRange" type="dateRange"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="term" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="date" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="m.dateSingle"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="unknown"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:attributeGroup name="m.dateSingle">
        <xs:attribute name="calendar" type="xs:NMTOKEN"/>
        <xs:attribute name="certainty" type="xs:NMTOKEN"/>
        <xs:attribute name="era" type="xs:NMTOKEN"/>
        <xs:attribute name="notAfter" type="xs:token"/>
        <xs:attribute name="notBefore" type="xs:token"/>
        <xs:attribute name="standardDate" type="xs:token"/>
    </xs:attributeGroup>
    
    <xs:complexType name="dateRange">
        <xs:choice>
            <xs:sequence>
                <xs:element type="fromDate" name="fromDate"/>
                <xs:element type="toDate" name="toDate" minOccurs="0"/>
            </xs:sequence>
            <xs:element type="toDate" name="toDate"/>
        </xs:choice>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="fromDate" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="m.dateSingle"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="unknown"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="toDate" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="m.dateSingle"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ongoing"/>
                    <xs:enumeration value="unknown"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="otherRecordId">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="common"/>
                <xs:attribute name="localType" type="xs:anyURI"/>
                <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
                <xs:attributeGroup ref="vocabulary"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="representation" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>

    <xs:complexType name="rightsDeclaration">
        <xs:sequence>
            <xs:element name="reference" type="reference"/>
            <xs:element name="shortCode" type="shortCode" minOccurs="0"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>

    <!-- ##################
        REPOSITORY DESCRIPTION
    ################### -->

    <xs:complexType name="identity">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="nameEntry" type="nameEntry"/>
                <xs:element name="nameEntrySet" type="nameEntrySet"/>
            </xs:choice>
            <xs:element name="repositoryId" type="repositoryId" minOccurs="0"/>
            <xs:element name="otherRepositoryId" type="otherRepositoryId" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="repositoryType" type="repositoryType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="otherRepositoryTypes" type="otherRepositoryTypes" minOccurs="0"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="base" type="xs:anyURI"/>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="identityType">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="given"/>
                    <xs:enumeration value="acquired"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="nameEntry">
        <xs:sequence>
            <xs:element name="part" type="part" maxOccurs="unbounded"/>
            <xs:element name="useDates" type="useDates" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attribute name="preferredForm" type="xs:boolean"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="authorized"/>
                    <xs:enumeration value="alternative"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="part" mixed="true">
        <xs:simpleContent>
            <xs:restriction base="xs:anyType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(.|\n|\r)*\S(.|\n|\r)*"/>
                    </xs:restriction>
                </xs:simpleType>
                <xs:attributeGroup ref="common"/>
                <xs:attribute name="localType" type="xs:anyURI"/>
                <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
               <xs:attributeGroup ref="references"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="useDates">
        <xs:sequence>
            <xs:group ref="m.dates"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
       
    <xs:complexType name="nameEntrySet">
        <xs:sequence>
            <xs:element name="nameEntry" type="nameEntry"/>
            <xs:element name="nameEntry" type="nameEntry" maxOccurs="unbounded"/>
            <xs:element name="useDates" type="useDates" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="repositoryId">
        <xs:attribute name="countryCode" use="required" type="xs:NMTOKEN"/>
        <xs:attribute name="repositoryCode" use="required" type="xs:NMTOKEN"/>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="authorized"/>
                    <xs:enumeration value="alternative"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>

    <xs:complexType name="otherRepositoryId" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>

    <xs:complexType name="repositoryType">
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="nationalArchives"/>
                    <xs:enumeration value="regionalArchives"/>
                    <xs:enumeration value="localArchives"/>
                    <xs:enumeration value="specialisedGovernmentArchives"/>
                    <xs:enumeration value="specialisedNongovernmentalArchives"/>
                    <xs:enumeration value="personalAndFamilyArchives"/>
                    <xs:enumeration value="businessArchives"/>
                    <xs:enumeration value="religiousInstitutionsArchives"/>
                    <xs:enumeration value="universityArchives"/>
                    <xs:enumeration value="nonUniversityEducationArchives"/>
                    <xs:enumeration value="internationalArchives"/>
                    <xs:enumeration value="communityArchives"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="common.empty"/>
    </xs:complexType>

    <xs:complexType name="otherRepositoryTypes">
        <xs:sequence>
            <xs:element name="otherRespositoryType" type="otherRepositoryType" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="otherRepositoryType">
        <xs:sequence>
            <xs:element name="term" type="term" maxOccurs="unbounded"/>
            <xs:group ref="m.dates" minOccurs="0"/>
            <xs:element name="placeName" type="placeName" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>

    <xs:complexType name="placeName" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="countryCode" type="xs:NMTOKEN"/>
        <xs:attribute name="localType" type="xs:token"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>

    <xs:group name="m.dates">
        <xs:choice>
            <xs:element name="date" type="date"/>
            <xs:element name="dateRange" type="dateRange"/>
            <xs:element name="dateSet" type="dateSet"/>
        </xs:choice>
    </xs:group>

    <xs:complexType name="dateSet">
        <xs:sequence>
            <xs:choice>
                <xs:element name="date" type="date"/>
                <xs:element name="dateRange" type="dateRange"/>
            </xs:choice>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="date" type="date"/>
                <xs:element name="dateRange" type="dateRange"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="description">
        <xs:sequence>
            <xs:element name="places" type="places"/>
            <xs:element name="access" type="access" maxOccurs="unbounded"/>
            <xs:element name="timetable" type="timetable" maxOccurs="unbounded"/>
            <xs:element name="functions" type="functions" minOccurs="0"/>
            <xs:element name="legalStatuses" type="legalStatuses" minOccurs="0"/>
            <xs:element name="mandates" type="mandates" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="accessibility" type="accessibility"/>
                <xs:element name="biogHist" type="biogHist"/>
                <xs:element name="buildingInfo" type="buildingInfo"/>
                <xs:element name="existDates" type="existDates"/>
                <xs:element name="holdings" type="holdings"/>
                <xs:element name="repositoryRole" type="repositoryRole"/>
                <xs:element name="services" type="services"/>
                <xs:element name="socialMedia" type="socialMedia"/>
                <xs:element name="structureOrGenealogy" type="structureOrGenealogy"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="places">
        <xs:sequence>
            <xs:element name="place" type="place"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="place" type="place"/>
                <xs:element name="descriptiveNote" type="descriptiveNote"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="place">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="address" type="address"/>
                <xs:element name="contact" type="contact"/>
                <xs:element name="geographicCoordinates" type="geographicCoordinates"/>
                <xs:element name="placeName" type="placeName"/>
                <xs:element name="placeRole" type="placeRole"/>
            </xs:choice>
            <xs:group ref="m.dates" minOccurs="0"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>

    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="addressLine" type="addressLine" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="addressLine" mixed="true">
        <xs:attribute name="addressLineType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="county"/>
                    <xs:enumeration value="country"/>
                    <xs:enumeration value="district"/>
                    <xs:enumeration value="region"/>
                    <xs:enumeration value="postBox"/>
                    <xs:enumeration value="postalCode"/>
                    <xs:enumeration value="municipality"/>
                    <xs:enumeration value="street"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="contact">
        <xs:sequence>
            <xs:element type="contactLine" name="contactLine" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="contactLine" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="contactLineType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="directions"/>
                    <xs:enumeration value="email"/>
                    <xs:enumeration value="fax"/>
                    <xs:enumeration value="homepage"/>
                    <xs:enumeration value="mobileNumber"/>
                    <xs:enumeration value="phoneNumber"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="link"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="geographicCoordinates" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="coordinateSystem" use="required" type="xs:token"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="placeRole" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>

    <xs:complexType name="access">
        <xs:sequence>
            <xs:element name="accessConditions" type="accessConditions" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="useConditions" type="useConditions" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:attributeGroup name="question">
        <xs:attribute name="question" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="yes"/>
                    <xs:enumeration value="yes (conditions apply)"/>
                    <xs:enumeration value="no"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    
    <xs:complexType name="accessConditions" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="useConditions" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="timetable">
        <xs:sequence>
            <xs:element name="opening" type="opening" maxOccurs="unbounded"/>
            <xs:element name="closing" type="closing" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="opening" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="closing" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="functions">
        <xs:sequence>
            <xs:element name="function" type="function"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="function" type="function"/>
                <xs:element name="descriptiveNote" type="descriptiveNote"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="function">
        <xs:sequence>
            <xs:element name="term" type="term" maxOccurs="unbounded"/>
            <xs:group ref="m.dates" minOccurs="0"/>
            <xs:element name="placeName" type="placeName" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="legalStatuses">
        <xs:sequence>
            <xs:element name="legalStatus" type="legalStatus"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="legalStatus" type="legalStatus"/>
                <xs:element name="descriptiveNote" type="descriptiveNote"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="legalStatus">
        <xs:sequence>
            <xs:element name="term" type="term" maxOccurs="unbounded"/>
            <xs:group ref="m.dates" minOccurs="0"/>
            <xs:element name="placeName" type="placeName" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="mandates">
        <xs:sequence>
            <xs:element name="mandate" type="mandate"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="mandate" type="mandate"/>
                <xs:element name="descriptiveNote" type="descriptiveNote"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="mandate">
        <xs:sequence>
            <xs:element name="term" type="term" maxOccurs="unbounded"/>
            <xs:group ref="m.dates" minOccurs="0"/>
            <xs:element name="placeName" type="placeName" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="accessibility" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="biogHist">
        <xs:sequence>
            <xs:element name="head" type="head" minOccurs="0"/>
            <xs:element name="abstract" type="abstract" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="chronList" type="chronList"/>
                <xs:element name="p" type="p"/>
                <xs:element name="list" type="list"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="head" mixed="true">
        <xs:sequence>
            <xs:element type="span" name="span" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="abstract" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="reference" name="reference"/>
            <xs:element type="span" name="span"/>
        </xs:choice>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="chronList">
        <xs:sequence>
            <xs:element name="chronItem" type="chronItem" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="chronItem">
        <xs:sequence>
            <xs:group ref="m.dates"/>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="event" type="event"/>
                    <xs:element name="place" type="place" minOccurs="0"/>
                </xs:sequence>
                <xs:element name="chronItemSet" type="chronItemSet" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:element name="reference" type="reference" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="event" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="reference" name="reference"/>
            <xs:element type="span" name="span"/>
        </xs:choice>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>

    <xs:complexType name="chronItemSet">
        <xs:sequence>
            <xs:element name="event" type="event" maxOccurs="unbounded"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="place" type="place"/>
                <xs:element name="reference" type="reference"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="list">
        <xs:sequence>
            <xs:element name="head" type="head" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="item" type="item"/>
                <xs:element name="list" type="list"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="listType">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ordered"/>
                    <xs:enumeration value="unordered"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="item" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="reference" name="reference"/>
            <xs:element type="span" name="span"/>
        </xs:choice>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="buildingInfo">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="building" type="building"/>
            <xs:element name="lengthOfShelves" type="lengthOfShelves"/>
            <xs:element name="repositoryArea" type="repositoryArea"/>
        </xs:choice>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="building" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="lengthOfShelves">
        <xs:sequence>
            <xs:element name="num" type="num"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="num" mixed="true">
        <xs:attribute name="unit" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="squaremetre"/>
                    <xs:enumeration value="linearmetre"/>
                    <xs:enumeration value="cubicmetre"/>
                    <xs:enumeration value="megabyte"/>
                    <xs:enumeration value="gigabyte"/>
                    <xs:enumeration value="terabyte"/>
                    <xs:enumeration value="petabyte"/>
                    <xs:enumeration value="exabyte"/>
                    <xs:enumeration value="site"/>
                    <xs:enumeration value="book"/>
                    <xs:enumeration value="title"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="repositoryArea">
        <xs:sequence>
            <xs:element name="num" type="num"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="existDates">
        <xs:sequence>
            <xs:group ref="m.dates"/>
            <xs:element type="descriptiveNote" name="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="holdings">
        <xs:sequence>
            <xs:group ref="m.dates" minOccurs="0"/>
            <xs:element name="extent" type="extent" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="m.controlledAccess" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="extent">
        <xs:sequence>
            <xs:element name="num" type="num"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="coverage">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="part"/>
                    <xs:enumeration value="whole"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:group name="m.controlledAccess">
        <xs:choice>
            <xs:element name="corpName" type="corpName"/>
            <xs:element name="famName" type="famName"/>
            <xs:element name="genreForm" type="genreForm"/>
            <xs:element name="name" type="name"/>
            <xs:element name="persName" type="persName"/>
            <xs:element name="placeName" type="placeName"/>
            <xs:element name="subject" type="subject"/>
        </xs:choice>
    </xs:group>
    
    <xs:complexType name="corpName">
        <xs:sequence>
            <xs:element name="part" type="part" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="famName">
        <xs:sequence>
            <xs:element name="part" type="part" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="genreForm">
        <xs:sequence>
            <xs:element name="part" type="part" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="name">
        <xs:sequence>
            <xs:element name="part" type="part" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="persName">
        <xs:sequence>
            <xs:element name="part" type="part" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="subject">
        <xs:sequence>
            <xs:element name="part" type="part" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="repositoryRole" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="services">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="internetAccess" type="internetAccess"/>
                <xs:element name="library" type="library"/>
                <xs:element name="multilingualServices" type="multilingualServices"/>
                <xs:element name="recreationalServices" type="recreationalServices"/>
                <xs:element name="searchroom" type="searchroom"/>
                <xs:element name="technicalServices" type="technicalServices"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="internetAccess" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="library">
        <xs:sequence>
            <xs:element name="contact" type="contact" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="multilingualServices" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="recreationalServices">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="exhibition" type="exhibition"/>
                <xs:element name="otherServices" type="otherServices"/>
                <xs:element name="refreshment" type="refreshment"/>
                <xs:element name="toursSessions" type="toursSessions"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="exhibition" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="otherServices" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="refreshment" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="toursSessions" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="searchroom">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="advancedOrders" type="advancedOrders"/>
                <xs:element name="contact" type="contact"/>
                <xs:element name="photographAllowance" type="photographAllowance"/>
                <xs:element name="readersTicket" type="readersTicket"/>
                <xs:element name="researchServices" type="researchServices"/>
                <xs:element name="workPlaces" type="workPlaces"/>
            </xs:choice>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="advancedOrders" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="photographAllowance" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="readersTicket" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="researchServices" mixed="true">
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="workPlaces">
        <xs:sequence>
            <xs:element name="num" type="num"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="computerPlaces" type="computerPlaces"/>
                <xs:element name="microfilmPlaces" type="microfilmPlaces"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="computerPlaces">
        <xs:sequence>
            <xs:element name="num" type="num"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="microfilmPlaces">
        <xs:sequence>
            <xs:element name="num" type="num"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="technicalServices">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="reproductionServices" type="reproductionServices"/>
                <xs:element name="restorationLaboratory" type="restorationLaboratory"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>

    <xs:complexType name="restorationLaboratory">
        <xs:sequence>
            <xs:element name="contact" type="contact" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>

    <xs:complexType name="reproductionServices">
        <xs:sequence>
            <xs:element name="contact" type="contact" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
            </xs:sequence>
        <xs:attributeGroup ref="question"/>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>

    <xs:complexType name="socialMedia" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="link"/>
        <xs:attributeGroup ref="references"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
    </xs:complexType>
    
    <xs:complexType name="structureOrGenealogy">
        <xs:sequence>
            <xs:element name="head" type="head" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="list" type="list"/>
                <xs:element name="p" type="p"/>
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="image">
        <xs:attributeGroup ref="common.empty"/>
        <xs:attributeGroup ref="link"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <!-- ##################
       RELATIONS
   ################### -->

    <xs:complexType name="relations">
        <xs:sequence>
            <xs:element name="relation" type="relation" maxOccurs="unbounded"/>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
    </xs:complexType>
    
    <xs:complexType name="relation">
        <xs:sequence>
            <xs:element name="targetEntity" type="targetEntity"/>
            <xs:group ref="m.dates" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="place" type="place"/>
                <xs:element name="relationType" type="relationType"/>
                <xs:element name="targetRole" type="targetRole"/>
            </xs:choice>
            <xs:element name="descriptiveNote" type="descriptiveNote" minOccurs="0"/>
            <xs:element name="objectXMLWrap" type="objectXMLWrap" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="common"/>
    </xs:complexType>
    
    <xs:complexType name="targetEntity">
        <xs:sequence>
            <xs:element name="part" type="part" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="targetType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="agent"/>
                    <xs:enumeration value="corporateBody"/>
                    <xs:enumeration value="family"/>
                    <xs:enumeration value="function"/>
                    <xs:enumeration value="person"/>
                    <xs:enumeration value="resource"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="common"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="relationType" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
    <xs:complexType name="targetRole" mixed="true">
        <xs:attributeGroup ref="common"/>
        <xs:attribute name="localType" type="xs:anyURI"/>
        <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
        <xs:attributeGroup ref="references"/>
        <xs:attributeGroup ref="vocabulary"/>
    </xs:complexType>
    
</xs:schema>
