schema/xml-schemas/ead/ead.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  *****************************************************************
  *                                                               *                
  *                            EAD 4.0                            *
  *                                                               *       
  *****************************************************************
  
  Hosted by the Library of Congress at http://www.loc.gov/ead/
  
-->
<xs:schema xmlns:ead="https://archivists.org/ns/ead/v4"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="https://archivists.org/ns/ead/v4">
   <xs:element name="ead">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="ead:control" name="control"/>
            <xs:element type="ead:fileDesc" name="fileDesc" minOccurs="0"/>
            <xs:element type="ead:archDesc" name="archDesc"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="control">
      <xs:sequence>
         <xs:element type="ead:recordId" name="recordId"/>
         <xs:element type="ead:maintenanceAgency" name="maintenanceAgency"/>
         <xs:element type="ead:maintenanceHistory" name="maintenanceHistory"/>
         <xs:element type="ead:fileDesc" name="fileDesc" minOccurs="0"/>
         <xs:element type="ead:sources" name="sources" minOccurs="0"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="ead:conventionDeclaration" name="conventionDeclaration"/>
            <xs:element type="ead:languageDeclaration" name="languageDeclaration"/>
            <xs:element type="ead:localControl" name="localControl"/>
            <xs:element type="ead:localTypeDeclaration" name="localTypeDeclaration"/>
            <xs:element type="ead:otherRecordId" name="otherRecordId"/>
            <xs:element type="ead:representation" name="representation"/>
            <xs:element type="ead:rightsDeclaration" name="rightsDeclaration"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="base" type="xs:anyURI"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="languageEncoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso639-1"/>
               <xs:enumeration value="iso639-2"/>
               <xs:enumeration value="iso639-3"/>
               <xs:enumeration value="ietf-bcp-47"/>
               <xs:enumeration value="otherLanguageEncoding"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scriptEncoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso15924"/>
               <xs:enumeration value="otherScriptEncoding"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dateEncoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso8601"/>
               <xs:enumeration value="otherDateEncoding"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="countryEncoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso3166-1"/>
               <xs:enumeration value="otherCountryEncoding"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="repositoryEncoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso15511"/>
               <xs:enumeration value="otherRepositoryEncoding"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="detailLevel">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="minimal"/>
               <xs:enumeration value="basic"/>
               <xs:enumeration value="extended"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="maintenanceStatus" use="required" type="xs:token"/>
      <xs:attribute name="publicationStatus" type="xs:token"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="fileDesc">
      <xs:sequence>
         <xs:element type="ead:titleStatement" name="titleStatement"/>
         <xs:element type="ead:editionStatement" name="editionStatement" minOccurs="0"/>
         <xs:element type="ead:publicationStatement"
                     name="publicationStatement"
                     minOccurs="0"/>
         <xs:element type="ead:seriesStatement" name="seriesStatement" minOccurs="0"/>
         <xs:element type="ead:noteStatement" name="noteStatement" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archDesc">
      <xs:sequence>
         <xs:element type="ead:did" name="did"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="ead:accessRestrict" name="accessRestrict"/>
            <xs:element type="ead:accruals" name="accruals"/>
            <xs:element type="ead:acqInfo" name="acqInfo"/>
            <xs:element type="ead:altFormAvail" name="altFormAvail"/>
            <xs:element type="ead:appraisal" name="appraisal"/>
            <xs:element type="ead:arrangement" name="arrangement"/>
            <xs:element type="ead:bibliography" name="bibliography"/>
            <xs:element type="ead:biogHist" name="biogHist"/>
            <xs:element type="ead:controlAccess" name="controlAccess"/>
            <xs:element type="ead:custodHist" name="custodHist"/>
            <xs:element type="ead:filePlan" name="filePlan"/>
            <xs:element type="ead:index" name="index"/>
            <xs:element type="ead:legalStatus" name="legalStatus"/>
            <xs:element type="ead:odd" name="odd"/>
            <xs:element type="ead:orginalsLoc" name="orginalsLoc"/>
            <xs:element type="ead:otherFindAid" name="otherFindAid"/>
            <xs:element type="ead:physTech" name="physTech"/>
            <xs:element type="ead:preferCite" name="preferCite"/>
            <xs:element type="ead:processInfo" name="processInfo"/>
            <xs:element type="ead:relatedMaterial" name="relatedMaterial"/>
            <xs:element type="ead:scopeContent" name="scopeContent"/>
            <xs:element type="ead:separatedMaterial" name="separatedMaterial"/>
            <xs:element type="ead:useRestrict" name="useRestrict"/>
         </xs:choice>
         <xs:element type="ead:dsc" name="dsc" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recordId">
      <xs:simpleContent>
         <xs:restriction base="xs:anyType">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="(.|\n|\r)*\S(.|\n|\r)*"/>
               </xs:restriction>
            </xs:simpleType>
            <xs:attribute name="audience">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="external"/>
                     <xs:enumeration value="internal"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="target" type="xs:IDREFS"/>
            <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
            <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="maintenanceAgency">
      <xs:sequence>
         <xs:choice>
            <xs:sequence>
               <xs:element type="ead:agencyCode" name="agencyCode"/>
               <xs:element type="ead:agencyName"
                           name="agencyName"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
               <xs:element type="ead:otherAgencyCode"
                           name="otherAgencyCode"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:sequence>
               <xs:element type="ead:agencyName" name="agencyName" maxOccurs="unbounded"/>
               <xs:element type="ead:otherAgencyCode"
                           name="otherAgencyCode"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:choice>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="countryCode" type="xs:NMTOKEN"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="maintenanceHistory">
      <xs:sequence>
         <xs:element type="ead:maintenanceEvent"
                     name="maintenanceEvent"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="sources">
      <xs:sequence>
         <xs:element type="ead:source" name="source" maxOccurs="unbounded"/>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="base" type="xs:anyURI"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="conventionDeclaration">
      <xs:sequence>
         <xs:element type="ead:reference" name="reference"/>
         <xs:element type="ead:shortCode" name="shortCode" minOccurs="0"/>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="languageDeclaration">
      <xs:sequence>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="languageCode" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptCode" type="xs:NMTOKEN"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="localControl">
      <xs:sequence>
         <xs:element type="ead:term" name="term" maxOccurs="unbounded"/>
         <xs:choice minOccurs="0">
            <xs:element type="ead:date" name="date"/>
            <xs:element type="ead:dateRange" name="dateRange"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="localTypeDeclaration">
      <xs:sequence>
         <xs:element type="ead:reference" name="reference"/>
         <xs:element type="ead:shortCode" name="shortCode" minOccurs="0"/>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="otherRecordId" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="representation" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkRole" type="xs:anyURI"/>
      <xs:attribute name="linkTitle" type="xs:token"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="rightsDeclaration">
      <xs:sequence>
         <xs:element type="ead:reference" name="reference"/>
         <xs:element type="ead:shortCode" name="shortCode" minOccurs="0"/>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="titleStatement">
      <xs:sequence>
         <xs:element type="ead:titleProper" name="titleProper" maxOccurs="unbounded"/>
         <xs:element type="ead:subtitle"
                     name="subtitle"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element type="ead:author"
                     name="author"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element type="ead:sponsor"
                     name="sponsor"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="editionStatement">
      <xs:choice maxOccurs="unbounded">
         <xs:element type="ead:edition" name="edition"/>
         <xs:element type="ead:p" name="p"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="publicationStatement">
      <xs:choice maxOccurs="unbounded">
         <xs:element type="ead:publisher" name="publisher"/>
         <xs:element type="ead:date" name="date"/>
         <xs:element type="ead:address" name="address"/>
         <xs:element type="ead:num" name="num"/>
         <xs:element type="ead:p" name="p"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="seriesStatement">
      <xs:choice maxOccurs="unbounded">
         <xs:element type="ead:titleProper" name="titleProper"/>
         <xs:element type="ead:num" name="num"/>
         <xs:element type="ead:p" name="p"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="noteStatement">
      <xs:sequence>
         <xs:element type="ead:controlNote" name="controlNote" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="did">
      <xs:choice maxOccurs="unbounded">
         <xs:element type="ead:abstract" name="abstract"/>
         <xs:element type="ead:container" name="container"/>
         <xs:element type="ead:dao" name="dao"/>
         <xs:element type="ead:daoSet" name="daoSet"/>
         <xs:element type="ead:didNote" name="didNote"/>
         <xs:element type="ead:langMaterial" name="langMaterial"/>
         <xs:element type="ead:materialSpec" name="materialSpec"/>
         <xs:element type="ead:origination" name="origination"/>
         <xs:element type="ead:physDescSet" name="physDescSet"/>
         <xs:element type="ead:physDesc" name="physDesc"/>
         <xs:element type="ead:physDescStructured" name="physDescStructured"/>
         <xs:element type="ead:physLoc" name="physLoc"/>
         <xs:element type="ead:repository" name="repository"/>
         <xs:element type="ead:unitDate" name="unitDate"/>
         <xs:element type="ead:unitDateStructured" name="unitDateStructured"/>
         <xs:element type="ead:unitId" name="unitId"/>
         <xs:element type="ead:unitTitle" name="unitTitle"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="accessRestrict">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="accruals">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="acqInfo">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="altFormAvail">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="appraisal">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="arrangement">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="bibliography">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="biogHist">
      <xs:sequence>
         <xs:element type="ead:head" name="head" minOccurs="0"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="ead:list" name="list"/>
            <xs:element type="ead:p" name="p"/>
            <xs:element type="ead:chronList" name="chronList"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="controlAccess">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="custodHist">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="filePlan">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="index">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="legalStatus">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="odd">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="orginalsLoc">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="otherFindAid">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="physTech">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="preferCite">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="processInfo">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="relatedMaterial">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="scopeContent">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="separatedMaterial">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="useRestrict">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="dsc">
      <xs:sequence>
         <xs:element type="ead:component" name="component" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agencyCode" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="status">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="authorized"/>
               <xs:enumeration value="alternative"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="agencyName" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="otherAgencyCode" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="status">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="authorized"/>
               <xs:enumeration value="alternative"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="descriptiveNote">
      <xs:sequence>
         <xs:element type="ead:p" name="p" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="maintenanceEvent">
      <xs:sequence>
         <xs:element type="ead:agent" name="agent"/>
         <xs:element type="ead:eventDateTime" name="eventDateTime"/>
         <xs:element type="ead:eventDescription"
                     name="eventDescription"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="maintenanceEventType" use="required" type="xs:token"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="source">
      <xs:sequence>
         <xs:element type="ead:reference" name="reference" maxOccurs="unbounded"/>
         <xs:element type="ead:citedRange"
                     name="citedRange"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkRole" type="xs:anyURI"/>
      <xs:attribute name="linkTitle" type="xs:token"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="reference" mixed="true">
      <xs:sequence>
         <xs:element type="ead:span" name="span" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkRole" type="xs:anyURI"/>
      <xs:attribute name="linkTitle" type="xs:token"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="shortCode" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="term" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="date" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="calendar" type="xs:NMTOKEN"/>
      <xs:attribute name="certainty" type="xs:NMTOKEN"/>
      <xs:attribute name="era" type="xs:NMTOKEN"/>
      <xs:attribute name="notAfter" type="xs:token"/>
      <xs:attribute name="notBefore" type="xs:token"/>
      <xs:attribute name="standardDate" type="xs:token"/>
      <xs:attribute name="status">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="unknown"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="dateRange">
      <xs:choice>
         <xs:sequence>
            <xs:element type="ead:fromDate" name="fromDate"/>
            <xs:element type="ead:toDate" name="toDate" minOccurs="0"/>
         </xs:sequence>
         <xs:element type="ead:toDate" name="toDate"/>
      </xs:choice>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="titleProper">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="subtitle">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="author">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="sponsor">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="edition">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="p" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element type="ead:reference" name="reference"/>
         <xs:element type="ead:span" name="span"/>
      </xs:choice>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="publisher">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="address">
      <xs:sequence>
         <xs:element type="ead:addressLine" name="addressLine" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="num">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="controlNote">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="abstract" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element type="ead:reference" name="reference"/>
         <xs:element type="ead:span" name="span"/>
      </xs:choice>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="container">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="dao">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="daoSet">
      <xs:sequence>
         <xs:element type="ead:dao" name="dao"/>
         <xs:element type="ead:dao" name="dao" maxOccurs="unbounded"/>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="didNote">
      <xs:sequence>
         <xs:element type="ead:p" name="p" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="langMaterial">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="materialSpec">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="origination">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="physDescSet">
      <xs:sequence>
         <xs:element type="ead:physDescStructured" name="physDescStructured"/>
         <xs:element type="ead:physDescStructured"
                     name="physDescStructured"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="physDesc">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="physDescStructured">
      <xs:sequence>
         <xs:element type="ead:quantity" name="quantity"/>
         <xs:element type="ead:unitType" name="unitType"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="ead:physFacet" name="physFacet"/>
            <xs:element type="ead:dimensions" name="dimensions"/>
         </xs:choice>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="physLoc">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="repository">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="unitDate">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="unitDateStructured">
      <xs:choice>
         <xs:element type="ead:date" name="date"/>
         <xs:element type="ead:dateRange" name="dateRange"/>
         <xs:element type="ead:dateSet" name="dateSet"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="unitId">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="unitTitle">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="head" mixed="true">
      <xs:sequence>
         <xs:element type="ead:span" name="span" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="list">
      <xs:sequence>
         <xs:element type="ead:head" name="head" minOccurs="0"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="ead:list" name="list"/>
            <xs:element type="ead:item" name="item"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="style" type="xs:normalizedString"/>
      <xs:attribute name="listType">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="deflist"/>
               <xs:enumeration value="ordered"/>
               <xs:enumeration value="unordered"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mark">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="circle"/>
               <xs:enumeration value="disc"/>
               <xs:enumeration value="inherit"/>
               <xs:enumeration value="none"/>
               <xs:enumeration value="square"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="numeration">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="decimal"/>
               <xs:enumeration value="decimal-leading-zero"/>
               <xs:enumeration value="lower-roman"/>
               <xs:enumeration value="upper-roman"/>
               <xs:enumeration value="lower-greek"/>
               <xs:enumeration value="lower-latin"/>
               <xs:enumeration value="upper-latin"/>
               <xs:enumeration value="armenian"/>
               <xs:enumeration value="georgian"/>
               <xs:enumeration value="lower-alpha"/>
               <xs:enumeration value="upper-alpha"/>
               <xs:enumeration value="inherit"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="chronList">
      <xs:sequence>
         <xs:element type="ead:chronItem" name="chronItem" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="component">
      <xs:sequence>
         <xs:element type="ead:did" name="did"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="ead:accessRestrict" name="accessRestrict"/>
            <xs:element type="ead:accruals" name="accruals"/>
            <xs:element type="ead:acqInfo" name="acqInfo"/>
            <xs:element type="ead:altFormAvail" name="altFormAvail"/>
            <xs:element type="ead:appraisal" name="appraisal"/>
            <xs:element type="ead:arrangement" name="arrangement"/>
            <xs:element type="ead:bibliography" name="bibliography"/>
            <xs:element type="ead:biogHist" name="biogHist"/>
            <xs:element type="ead:controlAccess" name="controlAccess"/>
            <xs:element type="ead:custodHist" name="custodHist"/>
            <xs:element type="ead:filePlan" name="filePlan"/>
            <xs:element type="ead:index" name="index"/>
            <xs:element type="ead:legalStatus" name="legalStatus"/>
            <xs:element type="ead:odd" name="odd"/>
            <xs:element type="ead:orginalsLoc" name="orginalsLoc"/>
            <xs:element type="ead:otherFindAid" name="otherFindAid"/>
            <xs:element type="ead:physTech" name="physTech"/>
            <xs:element type="ead:preferCite" name="preferCite"/>
            <xs:element type="ead:processInfo" name="processInfo"/>
            <xs:element type="ead:relatedMaterial" name="relatedMaterial"/>
            <xs:element type="ead:scopeContent" name="scopeContent"/>
            <xs:element type="ead:separatedMaterial" name="separatedMaterial"/>
            <xs:element type="ead:useRestrict" name="useRestrict"/>
         </xs:choice>
         <xs:element type="ead:component"
                     name="component"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agent" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:attribute name="agentType" use="required" type="xs:token"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="eventDateTime" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="standardDateTime">
         <xs:simpleType>
            <xs:union memberTypes="xs:gYear xs:gYearMonth xs:date xs:dateTime"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="eventDescription" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element type="ead:reference" name="reference"/>
         <xs:element type="ead:span" name="span"/>
      </xs:choice>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="citedRange" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="unit" type="xs:token"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="span" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="style" type="xs:normalizedString"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="fromDate" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="calendar" type="xs:NMTOKEN"/>
      <xs:attribute name="certainty" type="xs:NMTOKEN"/>
      <xs:attribute name="era" type="xs:NMTOKEN"/>
      <xs:attribute name="notAfter" type="xs:token"/>
      <xs:attribute name="notBefore" type="xs:token"/>
      <xs:attribute name="standardDate" type="xs:token"/>
      <xs:attribute name="status">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="unknown"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="toDate" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="calendar" type="xs:NMTOKEN"/>
      <xs:attribute name="certainty" type="xs:NMTOKEN"/>
      <xs:attribute name="era" type="xs:NMTOKEN"/>
      <xs:attribute name="notAfter" type="xs:token"/>
      <xs:attribute name="notBefore" type="xs:token"/>
      <xs:attribute name="standardDate" type="xs:token"/>
      <xs:attribute name="status">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="ongoing"/>
               <xs:enumeration value="unknown"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="addressLine" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="addressLineType">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="county"/>
               <xs:enumeration value="country"/>
               <xs:enumeration value="district"/>
               <xs:enumeration value="municipality"/>
               <xs:enumeration value="postBox"/>
               <xs:enumeration value="postalCode"/>
               <xs:enumeration value="region"/>
               <xs:enumeration value="street"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="quantity">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="unitType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="physFacet">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="dimensions">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="value" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="dateSet">
      <xs:sequence>
         <xs:choice>
            <xs:element type="ead:date" name="date"/>
            <xs:element type="ead:dateRange" name="dateRange"/>
         </xs:choice>
         <xs:choice maxOccurs="unbounded">
            <xs:element type="ead:date" name="date"/>
            <xs:element type="ead:dateRange" name="dateRange"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="item" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element type="ead:reference" name="reference"/>
         <xs:element type="ead:span" name="span"/>
      </xs:choice>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="chronItem">
      <xs:sequence>
         <xs:choice>
            <xs:element type="ead:date" name="date"/>
            <xs:element type="ead:dateRange" name="dateRange"/>
            <xs:element type="ead:dateSet" name="dateSet"/>
         </xs:choice>
         <xs:choice>
            <xs:sequence>
               <xs:element type="ead:event" name="event"/>
               <xs:element type="ead:place" name="place" minOccurs="0"/>
            </xs:sequence>
            <xs:element type="ead:chronItemSet" name="chronItemSet" maxOccurs="unbounded"/>
         </xs:choice>
         <xs:element type="ead:reference"
                     name="reference"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="event" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element type="ead:reference" name="reference"/>
         <xs:element type="ead:span" name="span"/>
      </xs:choice>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="place">
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element type="ead:placeName" name="placeName"/>
            <xs:element type="ead:placeRole" name="placeRole"/>
            <xs:element type="ead:geographicCoordinates" name="geographicCoordinates"/>
            <xs:element type="ead:address" name="address"/>
            <xs:element type="ead:contact" name="contact"/>
         </xs:choice>
         <xs:choice minOccurs="0">
            <xs:element type="ead:date" name="date"/>
            <xs:element type="ead:dateRange" name="dateRange"/>
            <xs:element type="ead:dateSet" name="dateSet"/>
         </xs:choice>
         <xs:element type="ead:descriptiveNote" name="descriptiveNote" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="chronItemSet">
      <xs:sequence>
         <xs:element type="ead:event" name="event" maxOccurs="unbounded"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="ead:place" name="place"/>
            <xs:element type="ead:reference" name="reference"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="placeName" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="countryCode" type="xs:NMTOKEN"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="placeRole" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="vocabularySource" type="xs:token"/>
      <xs:attribute name="vocabularySourceURI" type="xs:anyURI"/>
      <xs:attribute name="valueURI" type="xs:anyURI"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="geographicCoordinates">
      <xs:simpleContent>
         <xs:extension base="xs:normalizedString">
            <xs:attribute name="audience">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="external"/>
                     <xs:enumeration value="internal"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id" type="xs:ID"/>
            <xs:attribute name="target" type="xs:IDREFS"/>
            <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
            <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
            <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
            <xs:attribute name="sourceReference" type="xs:IDREFS"/>
            <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
            <xs:attribute name="coordinateSystem" use="required" type="xs:token"/>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="contact">
      <xs:sequence>
         <xs:element type="ead:contactLine" name="contactLine" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="contactLine" mixed="true">
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="target" type="xs:IDREFS"/>
      <xs:attribute name="languageOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="scriptOfElement" type="xs:NMTOKEN"/>
      <xs:attribute name="localType" type="xs:token"/>
      <xs:attribute name="localTypeDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="maintenanceEventReference" type="xs:IDREFS"/>
      <xs:attribute name="sourceReference" type="xs:IDREFS"/>
      <xs:attribute name="conventionDeclarationReference" type="xs:IDREFS"/>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkRole" type="xs:anyURI"/>
      <xs:attribute name="linkTitle" type="xs:token"/>
      <xs:attribute name="contactLineType">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="directions"/>
               <xs:enumeration value="email"/>
               <xs:enumeration value="fax"/>
               <xs:enumeration value="homepage"/>
               <xs:enumeration value="mobileNumber"/>
               <xs:enumeration value="phoneNumber"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
</xs:schema>
